<!--&lt;!&ndash;<nav class="navbar navbar-dark  navbar-expend-sm">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="container">&ndash;&gt;-->
<!--&lt;!&ndash;        <div  routerLink="" class="navbar-brand">&ndash;&gt;-->
<!--&lt;!&ndash;          <ul>&ndash;&gt;-->
<!--&lt;!&ndash;            <li></li>&ndash;&gt;-->
<!--&lt;!&ndash;          </ul>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/"> Home</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/policy">Policy</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/economie">Economie</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/enter">Entertainment</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/eduction">Education</a>&ndash;&gt;-->
<!--&lt;!&ndash;          <a routerLink="/sports">Sports</a>&ndash;&gt;-->

<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</nav>&ndash;&gt;-->


<!--<nav>-->
<!--  <div class="container">-->
<!--    <div class="content">-->
<!--      <div class="row">-->
<!--        <div class="col" >-->
<!--            <a routerLink="/" class="title" >NEWS</a>-->
<!--            <a routerLink="/"  class="text">Home</a>-->
<!--            <a routerLink="/post" class="text">Post</a>-->
<!--            <a routerLink="/seeAll"  fragment="video" class="text">Video</a>-->
<!--            <a routerLink="/enter" class="text">Pools</a>-->
<!--&lt;!&ndash;          <input  class="search" placeholder="Search">&ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand"  style="margin-left: 10px" routerLink="/">NEWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-1">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/post">Post</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/seeAll">Video</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Disabled</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
