<div class="container">
  <div class="row">
    <div class="col">
      <div style="display: flex" class="post-single">
        <div class="posts">
          <div style="display:flex ">
            <h4>Today News</h4>
          </div>
          <div class="inline" style="display: flex">
            <div class="new">
              <img src="../assets/news3.jpeg"   alt="">
              <div class="icons" >
                <p ><mat-icon class="icon">visibility</mat-icon>  1.5m  </p>
                <p ><mat-icon class="icon">message</mat-icon>  35k</p>
                <p ><mat-icon class="icon">share</mat-icon>   35k</p>
              </div>
              <h6>New Post about some problem in eduction and get some ideas to solve this
                problem from student and people
                New Post about some problem in eduction and get some ideas to solve this
                problem from student and people </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
