<!--<div class="container">-->
<!--  <div class="col">-->
<!--    <div class="row">-->
<!--      <div class="posts">-->
<!--        <h5>Today News</h5>-->
<!--        &lt;!&ndash;        <p class="title-sport">Sports News</p>&ndash;&gt;-->
<!--        &lt;!&ndash;        <a href="/sports"  class="seeSport">See all</a>&ndash;&gt;-->

<!--        <div class="inline" style="display: flex">-->
<!--          <div class="new">-->
<!--            <img src="../assets/paper.jpeg"   alt="">-->
<!--            <div class="icons" style="display: flex" >-->
<!--              <div style="display: flex"><mat-icon class="icon">visibility</mat-icon>     1.5m </div>-->
<!--              <div style="display: flex"><mat-icon class="icon">message</mat-icon>     35k</div>-->
<!--              <div style="display: flex"><mat-icon class="icon">share</mat-icon>     35k </div>-->
<!--              &lt;!&ndash;              <p ><mat-icon class="icon">visibility</mat-icon>     1.5m  </p>&ndash;&gt;-->
<!--              &lt;!&ndash;              <p ><mat-icon class="icon">message</mat-icon>    35k</p>&ndash;&gt;-->
<!--              &lt;!&ndash;              <p ><mat-icon class="icon">share</mat-icon>    35k</p>&ndash;&gt;-->
<!--            </div>-->
<!--            <h6>New Post about some problem in eduction and get some ideas to solve this-->
<!--              problem from student and people-->
<!--              New Post about some problem in eduction and get some ideas to solve this-->
<!--              problem from student and people </h6>-->

<!--          </div>-->
<!--          <div class="sports">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div class="col">-->
<!--                  <div class="sportNews">-->
<!--                    <div class="singleNews">-->
<!--                      <h6> <span class="material-icons" style="font-size: 16px ; color: #817e7e" >donut_small</span>Tottenham Hotspur</h6>-->
<!--                      <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>-->
<!--                    </div>-->

<!--                    <div class="singleNews">-->
<!--                      <h6> <span class="material-icons" style="font-size: 16px ;color: #817e7e">donut_small</span>Real Madrid</h6>-->
<!--                      <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                  <div class="sportNews" style="margin-top: 25px">-->
<!--                    <div class="singleNews">-->
<!--                      <h5> <span class="material-icons" style="font-size: 16px ; color: #817e7e" >donut_small</span>Manchester United</h5>-->
<!--                      <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>-->
<!--                    </div>-->

<!--                    <div class="singleNews">-->
<!--                      <h5> <span class="material-icons" style="font-size: 16px ;color: #817e7e">donut_small</span>Leicoster City</h5>-->
<!--                      <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>-->
<!--                    </div>-->

<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->



<!--    <div class="container">-->
<!--      <div class="col">-->
<!--        <div class="row">-->
<!--          <div style="display: flex" class="title">-->
<!--            <h4>Video</h4>-->
<!--            <a href="/seeAll" class="seeAll">See all</a>-->
<!--            <h4 style="margin-left: 30px">Political News</h4>-->
<!--            <a href="/policy"  class="seePolicy">See all</a>-->
<!--          </div>-->
<!--          <div class="inline" style="display: flex">-->

<!--&lt;!&ndash;            div contain video in news&ndash;&gt;-->
<!--          <div class="row" id="viedo" class="videoNews" >-->
<!--            <div class="vid">-->
<!--              <video width="300" height="240" controls class="testVideo">-->
<!--                <source src="../assets/sport.mp4" type="video/mp4">-->
<!--              </video>-->

<!--              <video width="300" height="240" controls  class="second">-->
<!--                <source src="../assets/eduction.mp4" type="video/mp4">-->
<!--              </video>-->
<!--            </div>-->
<!--          </div>-->

<!--&lt;!&ndash;            policy news&ndash;&gt;-->
<!--          <div class="policy">-->
<!--            <div class="singlePolicy" >-->
<!--              <img src="../assets/policy.jpg" alt="">-->
<!--              <h6>New Post about some problem in eduction and get some ideas </h6>-->
<!--            </div>-->
<!--            <div class="singlePolicy" >-->
<!--              <img src="../assets/policy2.jpg" alt="">-->
<!--              <h6>New Post about some problem in eduction and get some ideas </h6>-->
<!--            </div>-->

<!--          </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
<!--</div>-->
<div style="display: flex">
  <h4 class="card-text">Today News</h4>
  <h4  style="margin-left: 540px" class="card-text">SportNews</h4>
  <a href="/sports"  class="seeSport" >See all</a>
</div>
<div class="home">
  <div class="one" style="display: flex ; " >
<!--    <h4 class="card-text">News Today</h4>-->
    <div class="card" style="width: 40rem; height: 28rem">
      <img src="assets/paper.jpeg"  class="text-center" alt="..." >
      <div class="icons" style="display: flex" >
        <div style="display: flex"><mat-icon class="icon">visibility</mat-icon>     1.5m </div>
        <div style="display: flex"><mat-icon class="icon">message</mat-icon>     35k</div>
        <div style="display: flex"><mat-icon class="icon">share</mat-icon>     35k </div>
      </div>
      <div class="card-body">
        <p class="card-text">New Post about some problem in eduction and get some ideas to solve this
          problem from student and people
          New Post about some problem in eduction and get some ideas to solve this
           </p>
      </div>
    </div>
    <div class="sport" >
      <div class="single">
        <div class="card" style="width: 20rem; height: 13rem ; ">
          <div class="" >
            <h6> <span class="material-icons" style="font-size: 14px ; color: #817e7e" >donut_small</span>Tottenham Hotspur</h6>
            <p style="margin-left: 30px ">New Post about some problem in eduction and get some ideas</p>
          </div>
          <div class="" >
            <h6> <span class="material-icons" style="font-size: 14px ; color: #817e7e" >donut_small</span>Tottenham Hotspur</h6>
            <p style="margin-left: 30px ">New Post about some problem in eduction and get some ideas</p>
          </div>
        </div>
      </div>

      <div class="single">
        <div class="card" style="width: 20rem; height: 13rem">
          <div class="">
            <h6> <span class="material-icons" style="font-size: 14px ; color: #817e7e" >donut_small</span>Manchester United</h6>
            <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>

          </div>

          <div class="">
            <h6> <span class="material-icons" style="font-size: 14px ;color: #817e7e">donut_small</span>Leicoster City</h6>
            <p style="margin-left: 30px">New Post about some problem in eduction and get some ideas</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div style="display: flex">
    <h4 class="card-text" style="margin-right: 10px">Video</h4>
    <h4  style="margin-left: 590px" class="card-text">Political News</h4>
    <a href="/policy"  class="seeSport" >See all</a>
    <!--            <a href="/policy"  class="seePolicy">See all</a>-->
  </div>

  <div class="two" style="display: flex">
    <div class="video" style="display: flex">
        <div class="" style="width: 20rem;">
          <video width="310" height="" controls class="testVideo">
            <source src="../assets/sport.mp4" type="video/mp4">
          </video>
        </div>
        <div class="" style="width: 21rem;">
          <video width="310" height="" controls class="testVideo">
            <source src="../assets/sport.mp4" type="video/mp4">
          </video>
        </div>
    </div>

    <div class="policy">
        <div class="card" style="width: 20rem; height: 11rem ; ">
          <div class="singlePolicy" >
            <img src="../assets/policy.jpg" alt="">
            <h6  class="policy-text" >New Post about some problem in eduction and get some ideas </h6>
          </div>
          <div class="singlePolicy" >
            <img src="../assets/policy2.jpg" alt="">
            <h6  class="policy-text">New Post about some problem in eduction and get some ideas </h6>
          </div>
        </div>
    </div>
</div>

</div>

